* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --background-color: rgb(248, 247, 247);
  }
  
  body {
    background: var(--background-color);
  }
  
  nav {
    width: 100%;
    height: auto;
    background-color: rgb(254, 254, 254);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
  }
  
  .barra-busqueda {
    height: 45px;
    display: flex;
    flex-direction: row;
  }
  
  .barra-busqueda input {
    height: 40px;
    width: 45vw;
  }
  nav ion-icon {
    width: 7vh;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(90, 87, 87);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .search {
    height: 2rem;
    border-radius: 25px;
    box-shadow: 0;
    background-color: rgba(238, 206, 213, 0.663);
    border: 0px;
  }
  .perfil{
    border-radius: 50%;
  }
  .perfil:hover{
    border: 10px solid gray;
    background-color: gray;
  }
  .navbar_btn1, .navbar_btn2{
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 40px;
    width: 70px;
    padding: 10px;
    transition: background-color 0.10s; 
    border: 0px; 
}
.navbar_btn1:hover,.navbar_btn2:hover{
  background-color: black;
  color: white;
}
  .search-button {
    height: 2rem;
  }
  body h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
  }
  
  .wrapper-card {
    padding: 1rem;
    max-width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    justify-content: center;
    grid-template-rows: masonry;
    border: 3px solid white;
    gap: 0.5rem;
  }
  .Columna{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .card {
    width: 236px;
    height: 450px;
    border-radius: 15px;
    margin: 2rem;
    position: relative;

  }
  
  .card img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-out;
  }
  
  .card:hover::before {
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .card:hover button {
    display: inline-flex;
  }
  
  .card:hover .lowermenu {
    display: flex;
  }
  
  .card:nth-child(3n) {
    height: 400px;
  }
  
  .card:nth-child(2n + 2) {
    height: 400px;
  }
  
  .card:nth-child(5n) {
    height: 400px;
  }
  
  /* menu superior de la carta */
  .menu-superior {
    position: absolute;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 25px;
    top: 15px;
    right: 10px;
    border-style: none;
    display: none;
  }
  
  /* menu inferior de la carta */
  
  .lowermenu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    bottom: 10px;
    border-style: none;
    text-decoration: none;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
  }
  
  .lowermenu ion-icon {
    background-color: rgb(249, 245, 245);
    font-size: 20px;
    border-radius: 50%;
    padding: 8px;
  }
  
  .lowermenu button {
    padding: 10px;
    background-color: red;
    text-decoration: none;
    border-radius: 15px;
    border-style: none;
  }
  
  .lowermenu button a {
    text-decoration: none;
    border-style: none;
    color: white;
  }
  
  @media only screen and (max-width: 800px) {
    nav {
      display: none;
    }
  }
  